/* form {
  display: block;
  margin-top: 0em;
}
h2,
h1,
h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  font-size: 2rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

button:focus {
  outline: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.underline {
  border-bottom: solid 1px #cfdcdc;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}
.LogoutButton:hover {
  background-color: #f47792;
  color: white;
  text-decoration: none;
}
.LogoutButton:active {
  position: relative;
  top: 1px;
  text-decoration: none;
}
.LogoutButton {
  background-color: #f12c54;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  padding: 12px 52.5px;
  text-decoration: none;
}
.LogButton {
  background-color: #f12c54;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  padding: 12px 58px;
  text-decoration: none;
}
.LogButton:hover {
  background-color: #f47792;
  color: white;
  text-decoration: none;
}
.LogButton:active {
  position: relative;
  top: 1px;
  text-decoration: none;
}
/* button.bpadding {
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #f12c54;
  border: 1px solid #f12c54;
  padding: 12px 38px;
  text-decoration: none;
} */
.LogButtonSide {
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #f12c54;
  border: 1px solid #f12c54;
  padding: 12px 58px;
  text-decoration: none;
}

.LogButtonSide2 {
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #f12c54;
  border: 1px solid #f12c54;
  padding: 12px 59px;
  text-decoration: none;
}
.LogButtonSide2:hover {
  text-decoration: none;
  color: #f12c54;
}
.LogButtonSide3 {
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #f12c54;
  border: 1px solid #f12c54;
  padding: 12px 38px;
  text-decoration: none;
}
.LogButtonSide3:hover {
  text-decoration: none;
  color: #f12c54;
}
.LogButtonSide:hover {
  text-decoration: none;
  color: #f12c54;
}

.center1 {
  align-self: center;
}

.bold {
  font-weight: bold;
}

.navbar1 {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar2 {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.83rem 1rem;
}

input[type="text"],
select,
input[type="password"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.containerlog {
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  margin: auto;
  text-align: left;
}

.center2 {
  text-align: center;
}

body {
  text-align: center;
}

.new-line {
  white-space: pre-line;
}

.disp1 {
  display: block;
  font-size: 23px;
  padding: 5px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 90px;
  font-weight: bold;
}

.active {
  color: #f12c54;
}

.bpadding {
  padding-bottom: 50px;
}
.bpadding2 {
  padding-bottom: 25px;
}

.smallgrey {
  font-size: 17px;
  color: #999a9d;
  font-weight: lighter;
  padding: 2px;
}

.paddingRight {
  padding-right: 20px;
}
.paddingLeft {
  margin-left: 50px;
}

.box {
  display: flex;
  justify-content: space-evenly;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-main {
  position: fixed;
  background-image: url("https://lh3.googleusercontent.com/f1xz7LM172xskFbF02EJpCJ5F5GbL3dfI4ZYvoujc98IrTqDygEoy5lne6_IgAwzBZhBnPGChdzh7C8-idbVfrPgjdL3opPhETLcNhcZsPxAorMjO3A_5LREN6wncfu5sFd6jiLzPmsc7ImQUQFuikH99QMyRHZbe7Hg52xg-BpswsSBcTTZJF-UuqtDTyMq7drUw0I9_IvrizTKmjlKLFHkhq1LRJzbBQfq94jI3YPlwAOKEGoimhOuTada-WkGEcjeJCJb9HhH1DX4laDO92wJ1WqoTOQDRmvKsyk_aOxcG1t4PllAx7Kn2hvjdSMFZXSP79pd6TxAwrT3vBXBo4S22fkRzllSvrHBmWWE7EO5YJfdtbTgKcQ2ajFT0u-izOlyvItg2WGqrz9v_FK7gyc3Yj3ghCHDj1uM8RvOLTqFTFsnZM-Tk9DF0hsppwBmr6PlPVpmzY41OJm3c8Plq66TkvWkCO2tSuqLyoP01q5mk49lOUjCPfps7KjOhL1c81Q6kspyQlFeSMZ1X-uXdRjjEG0vizvyzzpCafRPzM8hawkuT9bXRGoWLw2a-EdM7Ib0djqABrGkyS5ruvoq7wIM8S-pBGEA4IPnw6TitDhghf4yWhWIum6CopLHP6V6Ne5NIPOwhekKQUlwbVQp2omSF_H2WQcRZRe27cX9eSE9QciQoC7cQ0n3rJYMOw=w850-h700-no?authuser=0");
  width: 850px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding-top: 100px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.not-active {
  font-weight: normal;
}

.close-modal {
  position: absolute;
  font-size: 20px;
  color: #a7a7ab;
  margin-left: 350px;
  top: 10px;
  background-color: #f8f8f8;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  color: #a7a7ab;
  font-family: Arial;
  font-size: 23px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
}

.close-modal2 {
  position: absolute;
  font-size: 20px;
  color: red;
  margin-left: 300px;
  top: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  color: blue;
  font-family: Arial;
  font-size: 23px;
  font-weight: bold;
  padding: 10px 12px;
  text-decoration: none;
}

.small-login {
  font-size: 12px;
  font-weight: normal;
}

.red {
  color: #f12c54;
  text-decoration: none;
}
